<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Case Suit E-Commerce Application">
   <listeners>
        <listener class-name="qkart_automation.RetryListener" />
    </listeners>

   <parameter name="username" value="testUser" />
   <parameter name="password" value="abc@123" />
   <test name="Test Case Execution on Chrome Browser">
      <groups>
         <run>
            <include name = "Sanity"></include>
            <include name = "Regression"></include>
         </run>
      </groups>
      <parameter name="productNameToSearchFor" value="YONEX Smash Badminton Racquet" />
      <parameter name="productNameToSearchFor2" value="Tan Leatherette Weekender Duffle" /> 
      <parameter name="addressDetails" value="Addr line 1 addr Line 2 addr line 3" /> 
      <parameter name="productNameToSearch1" value="Xtend Smart Watch" /> 
      <parameter name="productNameToSearch2" value="Yarine Floor Lamp" /> 
      <parameter name="productName" value="Stylecon 9 Seater RHS Sofa Set " /> 
      <parameter name="qty" value="10" />

      <classes>
        <!-- <class name="qkart_automation.tests.testCase01" />
        <class name="qkart_automation.tests.testCase02" />
        <class name="qkart_automation.tests.testCase03" />
        <class name="qkart_automation.tests.testCase04" />
        <class name="qkart_automation.tests.testCase05" />
        <class name="qkart_automation.tests.testCase06" />
        <class name="qkart_automation.tests.testCase07" />
        <class name="qkart_automation.tests.testCase08" />
        <class name="qkart_automation.tests.testCase09" /> -->
        <class name="qkart_automation.tests.testCase10" />
        <class name="qkart_automation.tests.testCase11" />
      </classes>
   </test>
</suite>